.hide-mobile {
  display: none;
}

body {
  background-color: #f4eef4;
  margin: 0;
  font-family: 'inter';
}

.wrap {
  margin: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  background-color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  height: 100vh;
  margin: 0;
  list-style-type: none;
  width: 20%;
  text-align: right;
  padding: 2em;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

nav ul li {
  margin: 2em 0;
}

nav ul li:nth-of-type(1) {
  margin-bottom: 4em;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: green;
  text-decoration: underline;
}

.open {
  transform: translateX(0%);
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 3em;
}

h1 img {
  display: block;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.primary-cta {
  background-color: green;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  color: black;
  border-radius: 0.3em;
}

.cat {
  position: relative;
  height: 500px;
  width: 100%;
  margin-top: 3em;
}

.cat img {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.inner-circle,
.outer-circle {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inner-circle {
  background: #ffebc3;
  width: 300px;
  height: 300px;
  z-index: -1;
}

.outer-circle {
  background: white;
  width: 500px;
  height: 500px;
  z-index: -2;
}

@media (min-width: 798px) {
  .wrap {
    margin: 0 4em;
  }
  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  .header-left {
    display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  .divider{
    height: 50px;
width: 1px;
border-right: 1px solid green;
  }

  a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }
  }
  nav ul{
    position: unset;
    background: none;
    display: flex;
    gap: 2em;
    height: auto;
    width: auto;
    transform: translateX(0%);
    li a{
      font-size: 1.2em;
    }
  }
}
@media (min-width:900px) {
  h1,p {
    text-align: left;
  }
  h1 img{ 
    margin: 0;
  }
  main {
    width: 50%;
  }
.cat{
  margin-top: 0;
}
  .cat.container{
    position: absolute;
    z-index: -1;
width: 50%;
top: 20%;
right: 0;
  }

  .inner-circle{
    width: 500px;
    height: 500px;
  }

    .outer-circle{
    width: 1000px;
    height: 1000px;
  }
}
@media (min-width: 1200px) {
  .wrap{
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1200px;
  }
  .cat[
    position: relative;
    img {
      max-width: 400px;
      left: 50%;
    }
  ]
}